<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>

    <ion-title>Teste check box</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="navigate-outline"></ion-icon>
      </ion-button>

      <ion-button color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Primary</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Secondary</ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tertiary</ion-label>
      <ion-checkbox color="tertiary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Success</ion-label>
      <ion-checkbox color="success"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Warning</ion-label>
      <ion-checkbox color="warning"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Danger</ion-label>
      <ion-checkbox color="danger"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Light</ion-label>
      <ion-checkbox color="light"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Medium</ion-label>
      <ion-checkbox color="medium"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Dark</ion-label>
      <ion-checkbox color="dark"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
